
body {
	background: green;
	color: saddlebrown;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 40px;
	font: ARCADER;
	
}

selector {
  font-family: "Times New Roman", Georgia, serif;
}

@font-face {
  font-family: ARCADER;
  src: url(FONTS/ARCADER/Arcader.ttf);
  font-family: AZTOLMEC;
  src: url(FONTS/AZTOLMEC/AZTOLMEC_V1.ttf)
}

p {
  font-family: ARCADER;
}

input[type="text1"]
{
	font-family: ARCADER;
    font-size:48px;
	text-align: center;
}

input[type="text2"]
{
	font-family: AZTOLMEC;
    font-size:48px;
	text-align: center;
}